# dependencies
node_modules/

# local env files
.env
.env*.local

# logs
npm-debug.*
yarn-debug.*
yarn-error.*

# coverage
coverage/

# macOS
.DS_Store

# TypeScript
*.tsbuildinfo

# VSCode
.vscode/

# Certificates and keys
*.jks
*.p8
*.p12
*.key
*.pem
*.mobileprovision

# Native
*.orig.*

# Expo / React Native
.expo/
dist/
web-build/

# Metro
.metro-health-check*